<form id="add_todo_form" action="/create" method="post" onsubmit="document.cookie = `scroll=${document.body.scrollHeight}`" >
    <input class="add-class" type="text" placeholder="Add a new Todo..." required name="title" maxlength="110">
</form>